<% layout('skeleton/layout') -%>

<div class='intro-wrapper'>
    <div class='intro-wrapper-content'>
        <h1><%=title %></h1>
        <p><%=content %></p>
    </div>
</div>

<% block('js', `<script></script>`) -%>
